---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="pt-8 pb-24 max-w-screen-2x1 mx-auto px-8">
        <section class="mb-12 py-20 bg-blue-950 rounded-2xl">
            <div class="px-10 flex items-end gap-120">
                <div>
                    <p
                        class="text-amber-200 uppercase bg-yellow-700 rounded-2xl inline-flex font-bold py-1 px-6"
                    >
                        torneo en vivo
                    </p>
                    <div class="flex gap-3 py-5">
                        <p class="text-7xl font-bold text-white">Finales del</p>
                        <p class="text-7xl font-bold text-yellow-300">
                            Mundial
                        </p>
                    </div>
                    <p class="font-medium max-w-md text-gray-400">
                        Sé testigo de la cima del fútbol mundial. sigue cada
                        partido,analiza la clasificación de los grupos y sigue
                        el camino hacia el trofeo
                    </p>
                </div>
                <div class="justify-items-end">
                    <p class="text-white font-bold text-3xl">
                        14 Días restantes
                    </p>
                </div>
            </div>
        </section>

        <section>
            <div>
                <div>
                    <div class="py-5 flex justify-center items-center">
                        <p
                            class="font-bold text-blue-950 text-2xl uppercase tracking-widest"
                        >
                            Hoy . 18 de Junio
                        </p>
                    </div>

                    <div class="flex gap-6 p-4">
                        <div
                            class="bg-surface-container-lowest border-l-4 border-red-600 rounded-lg px-6 py-4 flex-1"
                        >
                            <div class="flex justify-between items-center py-2">
                                <p class="font-bold text-blue-950 text-xs">
                                    Grupo A • PARTIDO 14
                                </p>
                                <p
                                    class="text-red-500 text-xs font-bold bg-red-100 px-2 py-1 rounded-full"
                                >
                                    ● EN VIVO 62'
                                </p>
                            </div>
                            <div class="flex items-center justify-between py-6">
                                <div class="flex flex-col items-center gap-2">
                                    <div
                                        class="w-16 h-16 bg-blue-950 rounded-full flex items-center justify-center"
                                    >
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-xl">
                                        Francia
                                    </p>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p class="font-bold text-blue-950 text-3xl">
                                        2 - 1
                                    </p>
                                    <p
                                        class="font-bold text-yellow-500 text-xs uppercase"
                                    >
                                        Estadio de Francia
                                    </p>
                                </div>
                                <div class="flex flex-col items-center gap-2">
                                    <div
                                        class="w-16 h-16 bg-blue-950 rounded-full flex items-center justify-center"
                                    >
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-xl">
                                        Brazil
                                    </p>
                                </div>
                            </div>

                            <div
                                class="bg-blue-950 py-3 rounded-lg flex justify-center items-center gap-2 mt-2"
                            >
                                <p class="text-white font-bold">
                                    Ver Centro del Partido →
                                </p>
                            </div>
                        </div>

                        <div
                            class="bg-white border border-gray-200 rounded-lg px-6 py-4 flex-1"
                        >
                            <div class="flex justify-between items-center py-2">
                                <p class="font-bold text-blue-950 text-xs">
                                    Grupo B • PARTIDO 15
                                </p>
                                <p
                                    class="text-gray-500 text-xs bg-gray-100 px-2 py-1 rounded-md"
                                >
                                    21:00 LOCAL
                                </p>
                            </div>

                            <div class="flex items-center justify-between py-6">
                                <div class="flex flex-col items-center gap-2">
                                    <div
                                        class="w-16 h-16 bg-gray-200 rounded-full flex items-center justify-center border border-gray-300"
                                    >
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-xl">
                                        Japon
                                    </p>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p class="text-gray-300 text-2xl font-bold">
                                        VS
                                    </p>
                                    <p
                                        class="font-bold text-yellow-500 text-xs uppercase"
                                    >
                                        Doha Arena
                                    </p>
                                </div>
                                <div class="flex flex-col items-center gap-2">
                                    <div
                                        class="w-16 h-16 bg-gray-200 rounded-full flex items-center justify-center border border-gray-300"
                                    >
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-xl">
                                        España
                                    </p>
                                </div>
                            </div>

                            <div
                                class="bg-blue-100 py-3 rounded-lg flex justify-center items-center gap-2 mt-2"
                            >
                                <p class="text-blue-950 font-bold">
                                    🎫 Comprar Entradas
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="py-5 flex justify-center items-center">
                        <p
                            class="font-bold text-gray-500 text-2xl uppercase tracking-widest"
                        >
                            MAÑANA . 19 DE JUNIO
                        </p>
                    </div>

                    <div class="flex flex-col gap-4 p-4">
                        <div
                            class="bg-blue-50 rounded-2xl p-4 flex items-center justify-between"
                        >
                            <div class="flex items-center gap-8">
                                <p class="text-blue-200 text-2xl font-bold">
                                    16
                                </p>

                                <div class="flex items-center gap-4">
                                    <div class="flex items-center gap-2">
                                        <div
                                            class="w-10 h-10 bg-blue-400 rounded-full flex items-center justify-center"
                                        >
                                            Icon
                                        </div>
                                        <p class="font-bold text-blue-950">
                                            Argentina
                                        </p>
                                    </div>

                                    <p class="text-gray-400 italic text-sm">
                                        vs
                                    </p>

                                    <div class="flex items-center gap-2">
                                        <div
                                            class="w-10 h-10 bg-green-800 rounded-full flex items-center justify-center"
                                        >
                                            Icon
                                        </div>
                                        <p class="font-bold text-blue-950">
                                            Croatia
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center gap-6">
                                <div class="text-right">
                                    <p
                                        class="text-yellow-600 font-bold text-xs"
                                    >
                                        GROUP C
                                    </p>
                                    <p class="text-blue-950 font-bold text-lg">
                                        15:00
                                    </p>
                                </div>
                                <p class="text-gray-300 text-xl">></p>
                            </div>
                        </div>

                        <div
                            class="bg-blue-50 rounded-2xl p-4 flex items-center justify-between"
                        >
                            <div class="flex items-center gap-8">
                                <p class="text-blue-200 text-2xl font-bold">
                                    17
                                </p>

                                <div class="flex items-center gap-4">
                                    <div class="flex items-center gap-2">
                                        <div
                                            class="w-10 h-10 bg-gray-100 rounded-full flex items-center justify-center"
                                        >
                                            Icon
                                        </div>
                                        <p class="font-bold text-blue-950">
                                            England
                                        </p>
                                    </div>

                                    <p class="text-gray-400 italic text-sm">
                                        vs
                                    </p>

                                    <div class="flex items-center gap-2">
                                        <div
                                            class="w-10 h-10 bg-green-900 rounded-full flex items-center justify-center"
                                        >
                                            Icon
                                        </div>
                                        <p class="font-bold text-blue-950">
                                            USA
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center gap-6">
                                <div class="text-right">
                                    <p
                                        class="text-yellow-600 font-bold text-xs"
                                    >
                                        GROUP D
                                    </p>
                                    <p class="text-blue-950 font-bold text-lg">
                                        19:00
                                    </p>
                                </div>
                                <p class="text-gray-300 text-xl">></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="font-black text-3xl text-blue-950">Camino a la final</p>
                            <p class="font-bold text-gray-400 text-xs">El camino hacia la final</p>
                        </div>
                        <div>
                            <div class="py-15 bg-blue-950 flex items-center">

                                <div class="flex-1 py-5">
                                    <div class="bg-gray-200  ">
                                        <p class="font-bold text-xs">Partido 49</p>
                                        <p class="font-bold text-white">Ganador</p>
                                        <p class="font-bold text-white">Segundo</p>
                                    </div>
                                    <div class="flex-1 px-2  bg-gray-200">
                                        <p>Partido 50</p>
                                        <p>Ganador</p>
                                        <p>Segundo</p>
                                    </div>
                                </div>

                                <div class="flex-1">
                                    <p>Cuarto de final</p>
                                </div>

                                <div class="flex-1">
                                    icon "lo pongo en clase"
                                    <p>Final</p>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div>
                            <p>Clasificación</p>
                        </div>
                        <div>
                            <button>GRUPO A</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>EQUIPOS</p>
                        </div>
                        <div>
                            <div>
                                <p>P</p>
                            </div>
                            <div>
                                <p>GD</p>
                            </div>
                            <div>
                                <p>PUNTOS</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    icon "lo pongo en clase"
                                    <p>FRANCIA</p>
                                    <div>
                                        <p>2</p>
                                    </div>
                                    <div>
                                        <p>+4</p>
                                    </div>
                                    <div>
                                        <p>6</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                ICON "LO PONGO EN CLASE"
                                <p>BRAZIL</p>
                                <div>
                                    <p>2</p>
                                </div>
                                <div>
                                    <p>+2</p>
                                </div>
                                <div>
                                    <p>3</p>
                                </div>
                            </div>
                            <div>
                                icon "lo pongo en clase"
                                <p>KOREA</p>
                                <div>
                                    <p>2</p>
                                </div>
                                <div>
                                    <p>-1</p>
                                </div>
                                <div>
                                    <p>1</p>
                                </div>
                            </div>

                            <div>
                                icon "lo pongo en clase"
                                <p>GHANA</p>
                                <div>
                                    <p>2</p>
                                </div>
                                <div>
                                    <p>-5</p>
                                </div>
                                <div>
                                    <p>5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</Layout>
