---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="pt-8 pb-24 max-w-screen-2x1 mx-auto px-8">
        <section class="mb-12 py-20 bg-blue-950 rounded-2xl">
            <div class="px-10 flex items-end gap-120">
                <div>
                    <p class="text-amber-200 uppercase bg-yellow-700 rounded-2xl inline-flex font-bold py-1 px-6">torneo en vivo</p>
                    <div class="flex gap-3 py-5">
                        <p class="text-7xl font-bold text-white">Finales del</p>
                        <p class="text-7xl font-bold text-yellow-300">Mundial</p>
                    </div>
                    <p class="font-medium max-w-md text-gray-400">
                        Sé testigo de la cima del fútbol mundial. sigue cada
                        partido,analiza la clasificación de los grupos y sigue el
                        camino hacia el trofeo
                    </p>
                </div>
                <div class="justify-items-end">
                    <p class="text-white font-bold text-3xl">14 Días restantes</p>
                </div>
            </div>
        </section>
    
    
    
        <section>
            <div>
                <div>
                    <div class="py-5" >
                        <p class="font-bold text-blue-950 flex-1 text-2xl">Hoy . 18 de Junio</p>
                    </div>
    
                    <div class="flex flex-1 gap-50 border-l-4 border-red-600 py-20">
                        <div class="">
                            <div class="py-5">
                                <p class="font-bold text-blue-950">Grupo A</p>
                            </div>
                            <div class="flex">
                                <div>
                                    <div class="w-12 h-12 bg-blue-950 rounded-full">
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-2xl">Francia</p>
                                </div>
                                <div>
                                    <div>
                                        <p class="font-bold text-3xl">2 VS 1</p>
                                    </div>
                                    <div>
                                        <p class="font-bold text-yellow-500 text-xs">ESTADIO DE FRANCIA</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="w-12 h-12 bg-blue-950 rounded-full">
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-2xl">Brazil</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="py-5">
                                <p class="font-bold text-blue-950 text-xs">Grupo B</p>
                            </div>
                            <div class="flex">
                                <div>
                                    <div class="w-12 h-12 bg-blue-950 rounded-full">
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-2xl">Japon</p>
                                </div>
                                <div>
                                    <p class="text-xl text-gray-400">VS</p>
                                    <p class="font-bold text-yellow-500 text-xs">DOHA ARENA</p>
                                </div>
                                <div>
                                    <div class="w-12 h-12 bg-blue-950 rounded-full">
                                        Icon
                                    </div>
                                    <p class="font-bold text-blue-950 text-2xl">ESPAÑA</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div>
                        <p class="font-bold text-2xl text-gray-200">MAÑANA . 19 DE JUNIO</p>
                    </div>
    
                    <div>
                        <div>
                            <div>
                                <div>
                                    Icon 
                                    <p class="font-bold text-blue-950 text-xs">ARGENTINA</p>
                                </div>
                                <div>
                                    <p class="text-xs text-gray-400">VS</p>
                                </div>
                                <div>
                                    icon "lo pongo en clase"
                                    <p class="font-bold text-blue-950 text-xs">CROACIA</p>
                                </div>
                            </div>
                            <div>
                                <p class="font-bold text-xs text-orange-300">Grupo C</p>
                                <p class="text-xs">15:00</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    icon "lo pongo el clase"
                                    <p class="font-bold text-blue-950">INGLATERRA</p>
                                </div>
                                <div>
                                    <p class="font-bold text-xs text-gray-400">VS</p>
                                </div>
                                <div>
                                    icon "lo pongo en clase"
                                    <p class="font-bold text-blue-950">USA</p>
                                </div>
                            </div>
                            <div>
                                <p>Grupo D</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Camino a la final</p>
                            <p>El camino hacia la final</p>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <p>Partido 49</p>
                                        <p>Ganador</p>
                                        <p>Segundo</p>
                                    </div>
                                    <div>
                                        <p>Partido 50</p>
                                        <p>Ganador</p>
                                        <p>Segundo</p>
                                    </div>
                                </div>
    
                                <div>
                                    <p>Cuarto de final</p>
                                </div>
                                <div>
                                    icon "lo pongo en clase"
                                    <p>Final</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div>
                    <div>
                        <div>
                            <p>Clasificación</p>
                        </div>
                        <div>
                            <button>GRUPO A</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>EQUIPOS</p>
                        </div>
                        <div>
                            <div>
                                <p>P</p>
                            </div>
                            <div>
                                <p>GD</p>
                            </div>
                            <div>
                                <p>PUNTOS</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    icon "lo pongo en clase"
                                    <p>FRANCIA</p>
                                    <div>
                                        <p>2</p>
                                    </div>
                                    <div>
                                        <p>+4</p>
                                    </div>
                                    <div>
                                        <p>6</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                ICON "LO PONGO EN CLASE"
                                <p>BRAZIL</p>
                                <div>
                                    <p>2</p>
                                </div>
                                <div>
                                    <p>+2</p>
                                </div>
                                <div>
                                    <p>3</p>
                                </div>
                            </div>
                            <div>
                                icon "lo pongo en clase"
                                <p>KOREA</p>
                                <div>
                                    <p>2</p>
                                </div>
                                <div>
                                    <p>-1</p>
                                </div>
                                <div>
                                    <p>1</p>
                                </div>
                            </div>
    
                            <div>
                                icon "lo pongo en clase"
                                <p>GHANA</p>
                                <div>
                                    <p>2</p>
                                </div>
                                <div>
                                    <p>-5</p>
                                </div>
                                <div>
                                    <p>5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</Layout>
