---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="p-12 bg-blue-950">
        <div class="flex items-end gap-24">
            <div>
                <p class="text-white">Mundial Mexico-USA</p>
                <p class="text-5xl font-bold text-white">FINALES DEL MUNDIAL</p>
                <p class="font-bold tex-xs text-gray-400">
                    Sé testigo de la cima del fútbol mundial. sigue cada
                    partido,analiza la clasificación de los grupos y sigue el
                    camino hacia el trofeo
                </p>
            </div>
            <div>
                <p class="text-white font-bold">14 Días restantes</p>
            </div>
        </div>
    </section>



    <section>
        <div class= "flex flex-1" >
            <div >
                <div class="py-5" >
                    <p class="font-bold text-blue-950 flex-1 text-2xl">Hoy . 18 de Junio</p>
                </div>

                <div>
                    <div>
                        <div>
                            <p class="font-bold text-blue-950">Grupo A</p>
                        </div>
                        <div>
                            <div>
                                <div class="w-12 h-12 bg-blue-950rounded-full">
                                    Icon
                                </div>
                                <p class="font-bold text-blue-950">Francia</p>
                            </div>
                            <div>
                                <div>
                                    <p>2 VS 1</p>
                                </div>
                                <div>
                                    <p class="font-bold text-yellow-500 text-xs">ESTADIO DE FRANCIA</p>
                                </div>
                            </div>
                            <div>
                                <div class="w-12 h-12 bg-blue-950 rounded-full">
                                    Icon
                                </div>
                                <p class="font-bold text-blue-950">Brazil</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="font-bold text-blue-950 text-xs">Grupo B</p>
                        </div>
                        <div>
                            <div>
                                <div class="w-12 h-12 bg-blue-950 rounded-full">
                                    Icon
                                </div>
                                <p class="font-bold text-blue-950">Japon</p>
                            </div>
                            <div>
                                <p class="text-xl text-gray-400">VS</p>
                                <p class="font-bold text-yellow-500 text-xs">DOHA ARENA</p>
                            </div>
                            <div>
                                <div class="w-12 h-12 bg-blue-950 rounded-full">
                                    Icon
                                </div>
                                <p class="font-bold text-blue-950">ESPAÑA</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="font-bold text-2xl text-gray-200">MAÑANA . 19 DE JUNIO</p>
                </div>

                <div>
                    <div>
                        <div>
                            <div>
                                Icon 
                                <p class="font-bold text-blue-950 text-xs">ARGENTINA</p>
                            </div>
                            <div>
                                <p class="text-xs text-gray-400">VS</p>
                            </div>
                            <div>
                                icon "lo pongo en clase"
                                <p class="font-bold text-blue-950 text-xs">CROACIA</p>
                            </div>
                        </div>
                        <div>
                            <p class="font-bold text-xs text-orange-300">Grupo C</p>
                            <p class="text-xs">15:00</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                icon "lo pongo el clase"
                                <p class="font-bold text-blue-950">INGLATERRA</p>
                            </div>
                            <div>
                                <p class="font-bold text-xs text-gray-400">VS</p>
                            </div>
                            <div>
                                icon "lo pongo en clase"
                                <p class="font-bold text-blue-950">USA</p>
                            </div>
                        </div>
                        <div>
                            <p>Grupo D</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Camino a la final</p>
                        <p>El camino hacia la final</p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <p>Partido 49</p>
                                    <p>Ganador</p>
                                    <p>Segundo</p>
                                </div>
                                <div>
                                    <p>Partido 50</p>
                                    <p>Ganador</p>
                                    <p>Segundo</p>
                                </div>
                            </div>

                            <div>
                                <p>Cuarto de final</p>
                            </div>
                            <div>
                                icon "lo pongo en clase"
                                <p>Final</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <div>
                        <p>Clasificación</p>
                    </div>
                    <div>
                        <button>GRUPO A</button>
                    </div>
                </div>
                <div>
                    <div>
                        <p>EQUIPOS</p>
                    </div>
                    <div>
                        <div>
                            <p>P</p>
                        </div>
                        <div>
                            <p>GD</p>
                        </div>
                        <div>
                            <p>PUNTOS</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                icon "lo pongo en clase"
                                <p>FRANCIA</p>
                                <div>
                                    <p>2</p>
                                </div>
                                <div>
                                    <p>+4</p>
                                </div>
                                <div>
                                    <p>6</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            ICON "LO PONGO EN CLASE"
                            <p>BRAZIL</p>
                            <div>
                                <p>2</p>
                            </div>
                            <div>
                                <p>+2</p>
                            </div>
                            <div>
                                <p>3</p>
                            </div>
                        </div>
                        <div>
                            icon "lo pongo en clase"
                            <p>KOREA</p>
                            <div>
                                <p>2</p>
                            </div>
                            <div>
                                <p>-1</p>
                            </div>
                            <div>
                                <p>1</p>
                            </div>
                        </div>

                        <div>
                            icon "lo pongo en clase"
                            <p>GHANA</p>
                            <div>
                                <p>2</p>
                            </div>
                            <div>
                                <p>-5</p>
                            </div>
                            <div>
                                <p>5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
