---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="px-10 py-10">
        <div class="py-5">
            <div class="bg-blue-950 rounded-2xl px-10 py-25 text-white">
                <p class="font-bold bg-amber-500 rounded-2xl inline-flex px-4">World Cup 2024</p>
                <p class="font-black text-7xl py-4">LA ÉLITE GLOBAL</p>
                <p class="font-bold py-10 text-xl text-gray-400">
                    Explora las 32 naciones que compiten por la gloria <br
                    />máxima del fútbol. Análisis profundo de plantillas, <br /> estadísticas
                    de jugadores y formas tácticas.
                </p>
            </div>
        </div>
    </section>
    <section class="px-10 py-20">
        <div class="flex gap-180 py-10">
            <div class="">
                <p class="font-black text-2xl text-blue-950">
                    Naciones Clasificadas
                </p>
                <p class="font-bold text-gray-600">Fase de Grupos</p>
            </div>
            <div class="gap-2">
                <button class="bg-blue-200 rounded-2xl px-6 text-blue-800 font-bold"
                    >TODOS LOS GRUPOS</button
                >
                <button class="bg-green-600 rounded-2xl px-6 text-green-300 font-bold"
                    >FILTRAR POR RANKING</button
                >
            </div>
        </div>
        <div>
            <div class="flex gap-10 rounded-2xl">
                <div class="flex-1 gap-5">
                    <div class="flex gap-45 py-3 bg-blue-100">
                        <div class="w-12 h-12 rounded-full bg-blue-950">
                            Icon
                        </div>
                        <div class="">
                            <p class="text-yellow-600 font-bold text-xs">
                                RANKING FIFA
                            </p>
                            <p class="font-black text-xl text-blue-950">#1</p>
                        </div>
                    </div>
                    <div>
                        <div class="py-5">
                            <p class="font-bold text-blue-950 py-2">
                                ARGENTINA
                            </p>
                            <p class="font-bold text-xs text-gray-400 py-">
                                FORMATO <br> RECIENTE
                            </p>
                        </div>
                        <div>icon icon icon icon icon</div>
                    </div>
                </div>
                <div class="flex-1">
                    <div>
                        <div class="flex gap-45 py-3 bg-blue-100">
                            <div class="w-12 h-12 rounded-full bg-blue-950">
                                icon
                            </div>
                            <div>
                                <p class="font-bold text-yellow-600 text-xs">
                                    RANKING FIFA
                                </p>
                                <p class="font-black text-blue-950 text-xl">#2</p>
                            </div>
                        </div>
                        <div>
                            <div class="py-5">
                                <p class="font-bold text-blue-950">FRANCIA</p>
                                <p class="font-bold text-xs text-gray-400">
                                    FORMA <br> RECIENTE
                                </p>
                            </div>
                            <div>icon icon icon icon icon</div>
                        </div>
                    </div>
                </div>
                <div class="flex-1">
                    <div>
                        <div class="flex gap-45 py-3 bg-blue-100">
                            <div class="w-12 h-12 rounded-full bg-blue-950">
                                icon
                            </div>
                            <div>
                                <p class="font-bold text-yellow-600 text-xs">RANKING FIFA</p>
                                <p class="font-black text-blue-950 text-xl">#5</p>
                            </div>
                        </div>
                        <div class="py-5">
                            <p class="font-bold text-blue-950">BRAZIL</p>
                            <p class="font-bold text-xs text-gray-400">FORMA <br> RECIENTE</p>
                        </div>icon icon icon icon icon<div></div>
                    </div>
                </div>
                <div class="flex-1">
                    <div>
                        <div class="flex gap-45 py-3 bg-blue-100">
                            <div class="w-12 h-12 rounded-full bg-blue-950">
                                icon
                            </div>
                            <div>
                                <p class="font-bold text-yellow-600 text-xs">RANKING FIFA</p>
                                <p class="font-black text-blue-950 text-xl">#4</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="py-5">
                            <p class="font-bold text-blue-950">INGLATERRA</p>
                            <p class="font-bold text-xs text-gray-400">FORMA <br> RECIENTE</p>
                        </div>
                        <div>icon icon icon icon icon</div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flex-1">
                    <div>
                        <div class="flex gap-45 py-3 bg-blue-100">
                            <div class="w-12 h-12 rounded-full bg-blue-950">
                                icon
                            </div>
                            <div>
                                <p class="font-bold text-yellow-600 text-xs">RANKING FIFA</p>
                                <p class="font-black text-blue-950 text-xl">#18</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="py-5">
                            <p class="font-bold text-blue-950">JAPON</p>
                            <p class="font-bold text-xs text-gray-400">FORMATO <br> RECIENTE</p>
                        </div>
                        <div>icon icon icon icon icon</div>
                    </div>
                </div>
                <div class="flex-1">
                    <div>
                        <div class="flex gap-45 py-3 bg-blue-100">
                            <div class="w-12 h-12 rounded-full bg-blue-950">
                                icon
                            </div>
                            <div>
                                <p class="font-bold text-yellow-600 text-xs">RANKING FIFA</p>
                                <p class="font-black text-blue-950 text-xl">#13</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="py-5">
                            <p class="font-bold text-blue-950">MARRUECOS</p>
                            <p class="font-bold text-xs text-gray-400">FORMATO <br> RECIENTE</p>
                        </div>
                        <div>icon icon icon icon icon</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="px-10 py-30">
        <div class="bg-blue-100 rounded-2xl ">
            <div class="flex gap-10 px-10 py-20 rounded-2xl">
                <div class="bg-white px-10 rounded-2xl py-10">
                    <div class="flex justify-center gap-8 py-5">
                        <div class="h-12 w-12 bg-blue-300 rounded-full">
                            icon
                        </div>
                        <div>
                            <p class="font-bold text-xl text-blue-950">NACIONES <br> CLASIFICADAS</p>
                            <p class="font-bold text-green-500">CAMPEONES DEFENSORES</p>
                        </div>
                    </div>
                    <div class="py-5">
                        <p class="text-gray-400 uppercase font-bold text-xs">Entrenador</p>
                        <p class="text-blue-950 font-bold text-xl">Lionel escaloni</p>
                    </div>
                    <div class="py-5">
                        <p class="uppercase text-xs text-gray-400 font-bold">Títulos Mundiales</p>
                        icon icon icon
                    </div>
                    <div class="bg-blue-100 rounded-2xl py-5 px-5">
                        <p class="text-blue-950 font-bold">Objetivo del torneo</p>
                        <p>
                            "Mantener el estándar de excelencia y <br> honrar la camiseta
                            cada minuto en el <br> campo."
                        </p>
                    </div>
                </div>
                <div class="bg-blue-950 rounded-2xl px-20 ">
                    <div class="py-10">
                        <p class="text-white font-bold text-xl">Edad Media de la Plantilla</p>
                    </div>
                    <div>
                        <p class="text-white font-bold text-7xl">27.4</p>
                        <p class="text-gray-400 font-bold">Núcleo de gran experiencia</p>
                    </div>
                </div>
                <div class="">
                    <div class="flex gap-5">
                        <div class="bg-green-500 rounded-2xl">
                            <p class="py-5 px-10 font-bold text-gray-200">VALOR TOTAL</p>
                            <p class="px-10 text-white font-bold text-4xl">€850M</p>
                        </div>
                        <div class="bg-yellow-800 rounded-2xl">
                            <p class="py-5 px-10 text-amber-100">MÁXIMO <br> GOLEADOR</p>
                            <p class="py-2 px-10 text-4xl font-bold text-white">L. Messi</p>
                            <p class="px-10 text-white">106 Goles</p>
                        </div>
                    </div>
                    <div class="py-5">
                        <div class="bg-white rounded-2xl">
                            <p class="text-gray-400 py-4 font-bold">ESQUEMA TÁCTICO</p>
                            <p class="font-black text-2xl text-blue-950">4 - 3 - 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
