---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <div>
                <p>World Cup 2024</p>
                <p>LA ÉLITE GLOBAL</p>
                <p>
                    Explora las 32 naciones que compiten por la gloria máxima
                    del fútbol. Análisis profundo de plantillas, estadísticas de
                    jugadores y formas tácticas.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <p>Naciones Clasificadas</p>
                <p>Fase de Grupos</p>
            </div>
            <div>
                <button>TODOS LOS GRUPOS</button>
                <button>FILTRAR POR RANKING</button>
            </div>
        </div>
        <div>
            <div>
                /2do div
                <div>
                    icon "lo pongo en clase"
                    <div>
                        <p>RANKING FIFA</p>
                        <p>#1</p>
                    </div>
                    <div>
                        <div>
                            <p>Argentina</p>
                            <p>Forma reciente</p>
                        </div>
                        <div>icon icon icon icon icon</div>
                    </div>
                </div>
                <div>
                    <div>
                        icon "lo pongo en clase"
                        <div>
                            <p>RANKING FIFA</p>
                            <p>#2</p>
                        </div>
                        <div>
                            <div>
                                <p>FRANCIA</p>
                                <p>FORMA RECIENTE</p>
                            </div>
                            <div>icon icon icon icon icon</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        icon
                        <div>
                            <p>RANKING FIFA</p>
                            <p>#5</p>
                        </div>
                        <div>
                            <p>BRAZIL</p>
                            <p>FORMA RECIENTE</p>
                        </div>icon icon icon icon icon<div></div>
                    </div>
                </div>
                <div>
                    <div>
                        icon "lo pongo en clase"
                        <div>
                            <p>RANKING FIFA</p>
                            <p>#4</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>INGLATERRA</p>
                            <p>FORMA RECIENTE</p>
                        </div>
                        <div>icon icon icon icon icon</div>
                    </div>
                </div>
                <div>
                    <div>
                        icon "lo pongo en clase"
                        <div>
                            <p>RANKING FIFA</p>
                            <p>#18</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>JAPON</p>
                            <p>FORMATO RECIENTE</p>
                        </div>

                        <div>icon icon icon icon icon</div>
                    </div>
                </div>
                <div>
                    <div>
                        icon "lo pongo en clase"
                        <div>
                        <p>RANKING FIFA</p>
                        <p>#13</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>MARRUECOS</p>
                            <p>FORMATO RECIENTE</p>
                        </div>
                        <div>
                           icon icon icon icon icon 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <div>
                    icon "lo pongo en clase"
                    <p>NACIONES CLASIFICADAS</p>
                    <p>CAMPEONES DEFENSORES</p>
                </div>
                <div>
                    <p>Entrenador</p>
                    <p>lionel escaloni</p>
                </div>
                <div>
                    <p>Títulos Mundiales</p>
                    icon icon icon 
                </div>
                <div>
                    <p>Objetivo del torneo</p>
                    <p>"Mantener el estándar de excelencia y honrar la camiseta cada minuto en el campo."</p>
                </div>
            </div>
            <div></div>
            <div></div>
        </div>
    </section>
    <section>
        wskxlkwnjka
    </section>
</Layout>
