---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from 'astro-icon/components'
---

<Layout>
  <section>
    <div>
      <p>Titulares del torneo</p>
      <button>Ver titulares</button>
    </div>

    <div>
      <div>
        <p>EXCLUSIVO</p>
        <p>ESTRELLAS EMERGENTES: LOS DESVALIDOS SACUDEN EL GRUPO C</p>
        <p>
          Como las saciones mas pequellas estan desafiando las probabilidades y
          reescribiendo el guion del torneo en esta dramatica fase de grupos
        </p>
      </div>

      <div>
        <div>
          <p>Equipamientos</p>
          <p>NUEVO BALON OFICIAL CON TECNOLOGIA INTEGRADA</p>
        </div>
        <div>
          <p>Tacticas</p>
          <p>MAESTROS DE LA DEFENSA: los mejores porteros del 2024</p>
        </div>
      </div>
    </div>
  </section>

  <section>
	<img src="/foto4.png" alt="">

    <div>
      <p>RESUMEN DE LOS PARTIDOS</p>
      <p>Vuelve a ver los momentos mas explosivos de la semana</p>
    </div>
    <div>
      <div>
        <img src="/foto1.png" alt="" />
        <p>Brazil vs south korea:todos los goles y resumen extendidos</p>
        <p>GRUPO A+32M VISITAS +HACE 2H</p>
      </div>

      <div>
        <img src="/foto2.png" alt="" />
        <p>
          milagro de ultimo minuto: gol de la victoria en tiempo de descuento
        </p>
        <p>Grupo B+18M visitas+ hace 5H</p>
      </div>

      <div>
        <img src="/foto3.png" alt="" />
        <p>Reaccion de los fans anbiente en el estadiolusail esta noche</p>
        <p>Cultura+890K visitas+hace 12H</p>
      </div>
    </div>
  </section>

  <section>

    <div>
      <p>NO TE PIERDAS LA FINAL</p>
     <div>
        <div>
          <p>85%</p>
          <p>Capacidad alcanzada</p>
        </div>
        <div>
          <p>12</p>
          <p>Ciudades anfitrionas</p>
        </div>
        <div>
          <p>32</p>
          <p>Naciones que juegan</p>
        </div>
     </div>

    </div>
  </section>
</Layout>

