---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<p>Titulares del torneo</p> <button>Ver titulares</button>
		</div>
		<div>
			<p>EXCLUSIVO</p>
			<p>ESTRELLAS EMERGENTES: LOS DESVALIDOS SACUDEN EL GRUPO C</p>
			<p>Como las saciones mas pequellas estan desafiando las probabilidades y reescribiendo el guion del torneo en esta dramatica fase de grupos</p>

		</div>
		<div>
			<p>Equipamientos</p>
			<p>NUEVO BALON OFICIAL CON TECNOLOGIA INTEGRADA</p>
			<p>Tacticas</p>
			<p>MAESTROS DE LA DEFENSA: los mejores porteros del 2024</p>
			
		</div>
	</section>
</Layout>
