---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from 'astro-icon/components'
---

<Layout>
  <section>
    <img src="/estadio.png" alt="">
    <div>
      <div>
        <div>
          <p>Road to the Final 2024</p>
        </div>
        <div>
          <p>SIENTE LA
ENERGÍA KINÉTICA</p>
          <p>Vive cada gol, cada emoción y cada momento de gloria del torneo más grande del mundo.</p>
        </div>
      </div>
      <div>
        <div>
          <div>
            <p>PRÓXIMO GRAN PARTIDO</p>
           </div>
          <div>
            <p>Fase de Grupos • 14 de junio</p>
          </div>
        </div>
        <div>
          <div>
            icon
            <p>BRAZIL</p>
          </div>
          <div>
            <p>VS</p>
          </div>
          <div>
            icon "lo pongo el clase"
            <p>FRANCIA</p>
          </div>
        </div>
        <div>
          <div>
            <p>04</p>
            <p>DIAS</p>
          </div>
          <div>
            <p>12</p>
            <p>HORAS</p>
          </div>
          <div>
            <p>45</p>
            <p>MINUTOS</p>
          </div>
          <div>
            <p>22</p>
            <p>SEGUNDOS</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div>
      <p>Titulares del torneo</p>
      <button>Ver titulares</button>
    </div>

    <div>
      <div>
        <div>
          <img src="neymar.png" alt="">
        </div>
        <div>
          <p>EXCLUSIVO</p>
          <p>ESTRELLAS EMERGENTES: LOS DESVALIDOS SACUDEN EL GRUPO C</p>
          <p>
            Como las saciones mas pequellas estan desafiando las probabilidades y
            reescribiendo el guion del torneo en esta dramatica fase de grupos
          </p>
        </div>
      </div>

      <div>
        <div>
          <div>
            <img src="/balon.png" alt="">
          </div>
          <div>
            <p>Equipamientos</p>
            <p>NUEVO BALON OFICIAL CON TECNOLOGIA INTEGRADA</p>
          </div>
        </div>
        <div>
          <div>
            <img src="/portero.png" alt="">
          </div>
          <div>
            <p>Tacticas</p>
            <p>MAESTROS DE LA DEFENSA: los mejores porteros del 2024</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <p>RESUMEN DE LOS PARTIDOS</p>
      <p>Vuelve a ver los momentos mas explosivos de la semana</p>
    </div>
    <div>
      <div>
        <img src="/foto1.png" alt="" />
        <p>Brazil vs south korea:todos los goles y resumen extendidos</p>
        <p>GRUPO A+32M VISITAS +HACE 2H</p>
      </div>

      <div>
        <img src="/foto2.png" alt="" />
        <p>
          milagro de ultimo minuto: gol de la victoria en tiempo de descuento
        </p>
        <p>Grupo B+18M visitas+ hace 5H</p>
      </div>

      <div>
        <img src="/foto3.png" alt="" />
        <p>Reaccion de los fans anbiente en el estadiolusail esta noche</p>
        <p>Cultura+890K visitas+hace 12H</p>
      </div>
    </div>
  </section>

  <section>

    <div>
      <p>NO TE PIERDAS LA FINAL</p>
     <div>
        <div>
          <p>85%</p>
          <p>Capacidad alcanzada</p>
        </div>
        <div>
          <p>12</p>
          <p>Ciudades anfitrionas</p>
        </div>
        <div>
          <p>32</p>
          <p>Naciones que juegan</p>
        </div>
     </div>

    </div>
  </section>
</Layout>

