---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <div>
                <img src="" alt="" />
            </div>
            <div>
                <p>NACIÓN ANFITRIONA 2024</p>
                <p>LA GLORIA ARQUITECTÓNICA ALBERGA EL JUEGO.</p>
                <p>
                    Explora los 12 estadios de clase mundial donde se escribirá
                    la historia. Desde joyas costeras sostenibles hasta
                    fortalezas de montaña a gran altitud.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div>
            1er div
            <div>
                2do div
                <div>
                    3er div
                    <img src="" alt="" />
                    <div>
                        5to div icon
                        <p>SEDE SELECCIONADA</p>
                        <p>Gran Estadio de Lusail</p>
                    </div>
                </div>
                <div>
                    4to div
                    <div>
                        <p>Estadísticas de las Sedes</p>
                    </div>
                    <div>
                        <div>
                            <p>12 TOTAL DE ESTADIOS</p>
                        </div>
                        <div>
                            <p>1,2 millones</p>
                            <p>CAPACIDAD TOTAL</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <img src="" alt="" />
                    </div>
                    <div>
                        <div>
                            <p>SEDE DE LA FINAL ubicación_en Capital</p>
                            <p>El Estadio del Anillo de Oro</p>
                        </div>
                        <div>
                            <p>88.000</p>
                            <p>CAPACIDAD</p>
                        </div>
                        <div>
                            <p>
                                Inspirado en el intrincado juego de luces y
                                sombras de las linternas tradicionales, el
                                Golden Ring Stadium presenta un techo único en
                                forma de silla de montar que parece flotar sobre
                                la explanada.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <img src="" alt="" />
                        </div>
                        <div>
                            <div>
                                <p>Arena Pico Azul</p>
                            </div>
                            <div>
                                <p>45 mil</p>
                            </div>
                        </div>
                        <div>
                            <p>
                                Construido con contenedores de transporte
                                reciclados y unidades modulares de acero, este
                                estadio establece un nuevo referente mundial en
                                infraestructuras deportivas
                            </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="" alt="" />
                        </div>
                        <div>
                            <p>El cuenco del bosque</p>
                            <p>52k</p>
                        </div>
                        <div>
                            <p>
                                Integrado en la topografía natural de las
                                estribaciones septentrionales, el Forest Bowl
                                cuenta con una fachada verde viva que regula la
                                temperatura de forma natural.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <img src="" alt="" />
            </div>
            <div>
                <div>
                    <div>
                        <div>
                            <p>EL DOMO TRAGALUZ</p>
                        </div>
                        <div>
                            
                            <div>
                                <p>CAPACIDAD</p>
                                <p>60.000 TECNOLOGÍA DE ENFRIAMIENTO</p>
                            </div>
                            <div>
                                <p>TECNOLOGÍA DE ENFRIAMIENTO</p>
                                <p>Energía Solar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        El primer techo totalmente retráctil del mundo capaz de
                        abrirse en menos de 7 minutos, con tecnología de vidrio
                        inteligente que filtra los rayos UV mientras mantiene la
                        salud del campo.
                    </p>
                </div>
                <div>
                    <div>
                        <p>EXPLORAR GALERÍA</p>
                    </div>
                    <div>
                        <p>flecha_adelante</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
