---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="relative overflow-hidden py-60 bg-blue-950/85">
        <div>
            <img class="absolute -top-2/3 left-0 w-full -z-10" src="/estadio2.png" alt="" />
        </div>
        <div class="flex flex-col px-20">
            <div class="justify-start">
                <p class="font-bold text-amber-200 bg-yellow-700 inline-flex py-1 px-8">NACIÓN ANFITRIONA 2024</p>
                <p class="text-white text-8xl font-bold">LA GLORIA</p>
                <p class="text-yellow-300 text-8xl font-bold">ARQUITECTÓNICA</p>
                <div class="flex gap-6">
                    <p class="text-yellow-300 text-8xl font-bold">ALBERGA</p>
                    <p class="text-white text-8xl font-bold">EL JUEGO.</p>
                </div>
                <p class="font-bold py-15  text-white text-xl">
                    Explora los 12 estadios de clase mundial donde se escribirá
                    la historia. Desde joyas costeras sostenibles hasta
                    fortalezas de montaña a gran altitud.
                </p>
            </div>
        </div>
    </section>
    <section class="display-flex">
        <div class="">
            1er div
            <div class="flex-1">
                2do div
                <div class="">
                    3er div
                    <img class="w-full" src="/estadio3.png" alt="" />
                    <div>
                        5to div icon
                        <p class="text-xs">SEDE SELECCIONADA</p>
                        <p class="font-bold text-blue-950">Gran Estadio de Lusail</p>
                    </div>
                </div>
                <div>
                    4to div
                    <div>
                        <p class="font-bold text-blue-950">Estadísticas de las Sedes</p>
                    </div>
                    <div>
                        <div>
                            <p class="font-bold text-green-900">12</p>
                            <p class="font-bold text-blue-950 text-xs">TOTAL DE ESTADIOS</p>
                        </div>
                        <div>
                            <p class="font-bold text-yellow-800">1,2 millones</p>
                            <p class="font-bold text-blue-950 text-xs">CAPACIDAD TOTAL</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 w-full">
                <div>
                    <div>
                        <img class="w-full" src="/estadio4.png" alt="" />
                    </div>
                    <div>
                        <div>
                            <p>SEDE DE LA FINAL ubicación_en Capital</p>
                            <p class="font-bold text-3xl">El Estadio del Anillo de Oro</p>
                        </div>
                        <div>
                            <p class="font-bold text-yellow-300 text-xl">88.000</p>
                            <p class="font-bold text-xs">CAPACIDAD</p>
                        </div>
                        <div>
                            <p class="font-bold">
                                Inspirado en el intrincado juego de luces y
                                sombras de las linternas tradicionales, el
                                Golden Ring Stadium presenta un techo único en
                                forma de silla de montar que parece flotar sobre
                                la explanada.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <img class="w-full" src="/estadio5.png" alt="" />
                        </div>
                        <div>
                            <div>
                                <p class="font-bold text-blue-950 text-xl">Arena Pico Azul</p>
                            </div>
                            <div>
                                <p class="font-bold text-blue-950 ">45 mil</p>
                            </div>
                        </div>
                        <div>
                            <p class="font-bold">
                                Construido con contenedores de transporte
                                reciclados y unidades modulares de acero, este
                                estadio establece un nuevo referente mundial en
                                infraestructuras deportivas
                            </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img class="w-full" src="/estadio6.png" alt="" />
                        </div>
                        <div>
                            <p class="font-bold text-blue-950 text-xl">El cuenco del bosque</p>
                            <p class="font-bold text-blue-950 ">52k</p>
                        </div>
                        <div>
                            <p class="font-bold">
                                Integrado en la topografía natural de las
                                estribaciones septentrionales, el Forest Bowl
                                cuenta con una fachada verde viva que regula la
                                temperatura de forma natural.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <img src="/estadio7.png" alt="" />
            </div>
            <div>
                <div>
                    <div>
                        <div>
                            <p class="font-bold text-2xl">EL DOMO TRAGALUZ</p>
                        </div>
                        <div>
                            
                            <div>
                                <p class="font-bold text-yellow-300 text-xs">CAPACIDAD</p>
                                <p class="font-bold text-2xl">60.000</p>
                            </div>
                            <div>
                                <p class="font-bold text-yellow-300 text-xs">TECNOLOGÍA DE ENFRIAMIENTO</p>
                                <p class="font-bold text-2xl">Energía Solar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="font-bold text-1xs text-gray-500">
                        El primer techo totalmente retráctil del mundo capaz de
                        abrirse en menos de 7 minutos, con tecnología de vidrio
                        inteligente que filtra los rayos UV mientras mantiene la
                        salud del campo.
                    </p>
                </div>
                <div>
                    <div>
                        <p class="font-bold text-yellow-500">EXPLORAR GALERÍA</p>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
