<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Historia e los mundiales</title>
	</head>

	<body>
		<header>
			<p>mundial historico</p>
			<div>
				<a href="/">Inicio</a>
				<a href="/calendario">Calendario</a>
				<a href="/equipos">Equipos</a>
				<a href="/sedes">sedes</a>
			</div>
			<div>
				<button>notificaciones</button> <button>Registrarme</button>
			</div>
		</header>

		<slot />
	</body>
	</body>

	<style>
		html,
		body {
			margin: 0;
			width: 100%;
			height: 100%;
		}
	</style>
</html>
