---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<body class="font-bold text-white  bg-black"></body>
		</body>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Historia e los mundiales</title>
	</head>

	<body>
		<header class="flex justify-between items-center py-4 px-10 bg-white text-black">
			<p class="text-blue-600 ">MUNDIAL HISTORICO</p>
			<div class="flex gap-4">
				<a href="/">Inicio</a>
				<a href="/calendario">CALENDARIO</a>
				<a href="/equipos">EQUIPOS</a>
				<a href="/sedes">SEDES</a>
			</div>
			<div class="flex gap-4">
				<button class="font-bold text-blue-700">
					<Icon name="notificacion" size={32}></Icon>
				</button>
				<button class="font-bold bg-blue-700 text-white px-3">Registrarme</button>
			</div>
		</header>

		<slot />
	</body>
</html>
